<!-- wp:template-part {"slug":"header"} /-->


<main class="wp-block-group">

	<section class="hero">
		<div class="hero-video">
			<a class="shop-all-btn">Shop All</a>
		</div>
	</section>
	<div class="divider">

	</div>
	<section class="menu-container">
		<h2>Whats on the Menu?</h2>
		<div class="menu-items-container">
			<div class="card">
				<a class="card-link" href=""></a>
				<p class="price">&dollar;16</p>
				<img>
				<p class="item-name">1 Dozen Cookies</p>
			</div>
		
			<div class="card">
				<a class="card-link" href=""></a>
				<p class="price">&dollar;28</p>
				<img>
				<p class="item-name">1 Tier Cake</p>
			</div>
	
			<div class="card">
				<a class="card-link" href=""></a>		
				<p class="price">&dollar;18</p>
				<img>
				<p class="item-name">Cookie Bar</p>
			</div>
			
		</div>
		<div class="how-to-order">
			<div class="icon-column">
				<svg></svg>
				<p>Fill out a Request form</p>
			</div>
			<div class="icon-column">
				<svg></svg>
				<p>Bakery will follow up through email or text if approved (please allow up to 12 hours for a response) </p>
			</div>
			<div class="icon-column">
				<svg></svg>
				<p>Must pay in advance through venmo or zelle </p>
			</div>
			<div class="icon-column">
				<svg></svg>
				<p>Please allow 3-5 days notice when filling out form</p>
			</div>
		</div>
	</section>
	<div class="divider-lower">

	</div>
	<section class="about">
		<h2>About the Baker</h2>
		<div class="about-container">
			<div class="img-left"></div>
			<div class="about-copy">
				<p>A Very Good Baker is an online bakery founded by Avery Ambrogio in 2021. 
					It offers a wide selection of handcrafted baked goods. With a focus on quality and flavor, 
					Avery uses only the finest ingredients to create delicious desserts made fresh to order. 
					Whether you're looking for something sweet or savory, "A Very Good Baker" brings the 
					warmth of home-baked goodness straight to your door.
				</p>
			</div>
		</div>
	</section>
	<div class="divider-footer">

	</div>
	<footer>
		<div>
			<a href="">A Very Good baker</a>
			<div>
				<a>View All</a>
				<a>About</a>
				<a>Order</a>
			</div>
			<a><svg class="checkout"></svg></a>
		</div>
		<div class="copyright">
			<a href="mailto:">averygoodbaker.com</a>
			<a href="tel:">(123)-456-7890</a>
		</div>
	</footer>


</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
